fastapi==0.75.0
fastapi-utils==0.2.1 
#uvicorn==0.17.6  #ASGI server for Fast api 
uvicorn[standard]==0.17.6 
starlette==0.25.0  #For Image stream 
RPi.GPIO==0.7.1
#numpy==1.22.3 #installed with apt-get
#adafruit-ads1x15==1.0.2 # DEPRECATED
adafruit-circuitpython-ads1x15==2.2.13 #ADC library
adafruit-circuitpython-sht31d==2.3.10 #Air Temp/Humid library
pydantic==1.8.2
arrow==1.2.2 #for time zone convertion
jsonpickle==2.1.0 #for save device setting 
schedule==1.1.0 #for repeat read sensor
w1thermsensor==2.0.0

#firebase dependencies 
gcloud==0.18.3
sseclient==0.0.27
pycrypto==2.6.1
requests-toolbelt==0.9.1
python_jwt==3.3.2
#firebase==3.0.1
firebase