fastapi==0.68.0
fastapi-utils
uvicorn==0.14.0 #ASGI server for Fast api 
starlette #For Image stream 
RPi.GPIO
#imutils
numpy #installed with apt-get
#opencv-python===3.4.13.47 #installed with apt-get
adafruit-ads1x15 #ADC library
pydantic==1.8.2
arrow #for time zone convertion
jsonpickle #for save device setting 
schedule #for repeat read sensor
adafruit-blinka